<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Focus Flow</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="{{ session['theme'] }}">
    <header style="text-align: center; padding: 20px;">
        {% if not session["user_id"] %}
            <h1 style="font-size: 3rem; color: #e94560;">Focus Flow</h1>
        {% else %}
            <h3 style="color: #e94560;">Focus Flow</h3>
        {% endif %}
    </header>

    <nav>
        {% if session["user_id"] %}
            <div class="nav-user">Hello, {{ session.username }}</div>
            <div class="nav-links">
            <a href="/">Timer</a>
            <a href="/history">History</a>
            <a href="/store">Store</a>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        {% endif %}
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="/static/script.js"></script>
</body>
</html>