{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h2>Join Focus Flow</h2>
    <form action="/register" method="post">
        <input name="username" placeholder="Username" type="text" required autofocus>
        <input name="password" placeholder="Password" type="password" required>
        <input name="confirmation" placeholder="Confirm Password" type="password" required>
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/login">Log In</a></p>
</div>
{% endblock %}